꧁ VIGARIK SQUAD ꧂
@dyadya_karlson ‡ TSG | Slawex 
@Flameyye ‡ 容器Fłame🔥
@vadborz ‡ люблю блондинок
@dmoley ‡ ПоВиЛиТелЬ ТьМы
@Line_disappeared ‡ TSG | Alastor 💋
@Alximik141 ‡ 𝒜𝓁𝓍𝒾𝓂𝒾𝓀
@Prostotip12 ‡ TSG | Fixer
@SinichcaNot ‡ k4 | Siny
@skibidi_rizzz ‡ level 10 gyat🫦
@PleasureTimeYT ‡ PleasureTimeYT
@ZinkaKabincaGazvaz3000228007 ‡ Bendy.EXE
@Ony1488 ‡ Almir🌕
@W1OLi ‡ [UP] W1oli🎭
@Alex_3569_Alex ‡ TSG | Alex
@Insert5cent ‡ Pingvin—YT
@Top4iK293 ‡ [f1]ToP4iK
@shynessisnice ‡ lapis lazuli
@durovcarpet ‡ мега нуб
@Ielectrobek ‡ ♰匚ㄥㄖ山几 卩丨尺匚乇♰
@danya4074 ‡ senior
@asxngl ‡ Fiazhenna
Евгений ‡ 通𝓓𝓮𝓶𝓲𝔁 ♔
@be_er02 ‡ AM|AndreyTOP
@geekideight ‡ SpikeIsLove
@Max_chli ‡ 𝓣𝓣𝓜 | 𝓛𝓲𝓶𝓲𝓽𝓛𝓮𝓼𝓼
@JustaTimur_7 ‡ Ronin
@Qwq1lw11 ‡ 𝒞𝓊𝒒𝑒✨
@Lineks1 ‡ Golden?N1🤍
@fezzIxx ‡ f3zz!xx
꧁ VIGARIK ACADEMY ꧂
@H555HH96 ‡ gigachat*
@Ka1D3en ‡ kaitogamer(YT)
@remove1337 ‡ Stefzz✨
@Da_Sorrel11 ‡ シズカ❄️ | chill.x
@dzeitori ‡ dzeitori
@fiigurkam ‡ Ulianna
@Joker515252 ‡ Joker
@Marian_Osadchi ‡ dobro
@koki_frizz ‡ 𝕍𝔾𝕊 |𝕜𝕠𝕜
@vadim7220 ‡ Strannik
@Vaniuha_ww_xx ‡ Алмаз
@wirexyz888 ‡ ТQ | W1zard
@Cakjjjj ‡ いきゆChucky
@Realcezarme ‡ hot soup
@Milkivway ‡ [CK] СпуЦыК
@cheixs ‡ Дарю отлиз
@makvinn ‡ Velvet
@Lineks1 ‡ TSG|L1nex
@Plusiik ‡ REF|PL🌚SIK™
@wq1hzz ‡ масік🤍-天使
@kilnixxq ‡ LigHT
@Derben96 ‡ RZM
@xxzzzzzzzzzz77 ‡ Neo
@xcarllw ‡ xcarllw
@axuzgs ‡ CR | Saku🍥さく
@Liderzoom ‡ RRZ | BS
@kholkhanov ‡ arsenio
@RO0mka1 ‡ 爱axelizz💕А
@G1netik ‡ G1netik
@Dan_Cyb ‡ No Teaming
@Shaloped ‡ TSG | qWert
꧁ VIGARIK Events ꧂
@podhbn ‡ Эл это я
@DucshnilaNaVolge ‡ (lol)
@qurtssss ‡ qurtsss
@starboi132 ‡ ForecastWin⛅️
@normche1488 ‡ Норм чел
🤍 ‡ paradise🦋
@d1egohss ‡ Кловi🤫
Черноголовка ‡ Merlin
@gulyaoug ‡ TCM | Trabe
@kolujil ‡ MELONI
@Myrka_mila ‡ Милка
@Riner_bs ‡ Riner🥵
@Temmibro ‡ Савва
@dumb_darny ‡ Darny
@dpospdod ‡ wexxside
@v1sser ‡ BS | PALOCHKA
@dead_shadow21 ‡ veniks | org
@krilkkril ‡ gremIChik
stylax ‡ Slxzzy
@Ydddlll ‡ BT[ REYZOR
@zxz81 ‡ supersell
@DMITRIY_1223 ‡ Леон
@nrtix ‡ tintixx
@Terrence67123 ‡ император🩻gar
@Deissily ‡ Kesuвиwe まな🇺🇸
@Undespudetlightweightchamp777 ‡ Sky wertikzz
@Persona_Treepize ‡ powerful

@HY_SPEK ‡ ♰匚ㄥㄖ山几 卩丨尺匚乇♰